.github/deployment-comparison-chart.md
.github/docker-documentation/set-environment-variables.md
env/.env
nginx/nginx.default.conf
certs/app.hawki.dev.crt
certs/app.hawki.dev.key
certs/cert.pem
certs/db.hawki.dev.crt
certs/db.hawki.dev.key
certs/key.pem
.vscode/*
